body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* DEFINE STYLES */

#addTask {
    margin-bottom: 15px;
    display: none;
}

#editContainer, #addContainer {
    position: relative;
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 100px auto;
    overflow-y: auto;
    box-shadow: rgba(0,0,0,.5) 4px 5px 10px;
}

#modalDialog, #modalDialog2  {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 101;
}

#cover,  #cover2 {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#closeModal, #closeModal2 {
    font-family: fantasy;
    cursor: pointer;
    float: right;
}

    #closeModal:hover {
        color: lightblue;
    }

     #closeModal2:hover {
        color: lightblue;
    }

#editContainer > header > h3,  #addContainer > header > h3 {
    display: inline-block;
}

#editForm > section > div, #addForm > section > div {
    margin: 5px auto;
}

    #editForm > section > div > label, #editForm > section > div > input,    #addForm > section > div > label, #addForm > section > div > input {
        width: 100%;
        margin: 5px auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

#editForm input, #addForm input {
    padding: 5px;
}

#editButtons, #addButtons {
    margin: 5px auto;
}

    #editButtons button, #addButtons button {
        padding: 5px;
        width: 50px;
    }

th {
    background-color:#2e8fe2;
    border-color: aquamarine;
    color:white;
    
}

table, tbody, thead, th, tr, td{
    border border-color: aqua;
    
}

caption{
    background-color: rgba(6, 197, 255, 0.96);
    color:#ffffff;
    font-weight: bold;
}

tbody td:first-of-type{
    background-color: rgba(236, 255, 11, 0.4);
}

a[href*="#"]{
    background-color: rgb(255, 245, 0);
    color:blue;
    font-weight: bold;
}

td{
    background-color: rgba(49, 255, 0, 0.6);
}


a:hover{
    color: rgb(255, 10, 0);
    background-color: black;
}

td:hover{
    color: blue;
}

td.failed{
    background-color: red;
}

